.show-qr-modal {
    text-decoration: underline;
    color: #2e6da4;
    cursor: pointer;
}

.blueish {
    background-color: #66afe9;
}

.rotate-90-anti-clockwise {
    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.qr-data {
    font-size: 10em;
    width: 80%;
    height: 300px;
    margin: auto;
    padding: 10px;
}

.qr-code-img {
    width: 40%;
    height: 300px;
    float: left;
}

.qr-code-id {
    margin-left: 70%;
    height: 300px;
    margin-top: 20px;
}