<!-- Display badge details, i.e. current status, id, last update time and QR code -->
<div id="badge-qr-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 100%; margin: 0 auto !important;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <section class="qr-data">
                    <div id="badge-qr-code" class="qr-code-img"></div>
                    <div id="badge-id" class="qr-code-id rotate-90-anti-clockwise"></div>
                </section>
            </div>
        </div>
    </div>
</div>