<!-- Form that accepts an ID -->
<div id="create-badge-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header centered">
                <h1><%= __('Add a badge') %></h1>
            </div>
            <div class="modal-body left dark-text">
                <form class="create-badge-form">
                    <div class="form-group">
                        <input type="text" name="badgeId" id="input-badgeId" placeholder="<%= __('Last 3 digits of the badge ID') %>" />
                    </div>
                </form>
            </div>
            <div class="modal-footer centered">
                <btn class="btn btn-primary" id="save-badge-btn" data-dismiss="modal" ><%= __('Save') %></btn>
                <a class="btn btn-danger" id="reset-create-badge-modal" ><%= __('Reset') %></a>
            </div>
        </div>
    </div>
</div>