<% layout('layouts/main-bs3') -%>

<body>

<div class="container">
    <h1><%= __('Badges management') %></h1>

    <div id="table" class="table-editable">
        <table class="table" id="badges-summary">
            <tbody><tr>
                <th><%= __('Badge ID') %></th>
                <th><%= __('Status') %></th>
                <th><%= __('Last user') %></th>
                <th><%= __('Last update') %></th>
            </tr>
            <% if (null != badges) {
            badges.forEach (function (badge) { %>
            <tr class="badge-row" id="<%= badge._id %>">
                <td>
                    <span class="show-qr-modal" data-badge-badgeid="<%= badge.badgeId %>" data-badge-id="<%= badge._id %>"><%= badge.badgeId %></span>
                </td>
                <td>
                    <% if (badge.available) { %>
                    <%=   __('Available') %>
                    <% } else { %>
                    <%= __('Unavailable') %>
                    <% } %>
                </td>
                <td>
                    <%= badge.lastOwner %>
                </td>
                <td>
                    <%= moment(badge.lastUpdate).format("DD/MM @ hh:mm") %>
                </td>
                <td><i class="glyphicon glyphicon-trash delete-badge" data-badge-id="<%= badge._id %>"></i></td>
            </tr>
            <% });
            } %>
            </tbody>
        </table>
    </div>
    <button class="btn btn-primary" data-toggle="modal" data-target="#create-badge-modal">Add badge</button>
</div>

<% include modals/badge-qr-modal.html %>
<% include modals/create-badge-modal.html %>

<!-- Load required JS -->
<script type="text/javascript" src="/vendor/jquery/3.1.1/jquery-3.1.1.min.js"></script>
<script src="/vendor/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/vendor/qrcode/qrcode.min.js"></script>
<script src="/app/js/badger.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        badger.init();
    });
</script>

