<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>

    <link rel="icon" type="image/png" href="/app/images/favicon.png" />

    <link href="/vendor/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"  />
    <link href="/vendor/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"/>
    <link href="/app/css/badger.css" rel="stylesheet" />

</head>
<%-body -%>

</html>